<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>Meaji_eats</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>maeji_eats.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>maeji_eats.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Eatery</display-name>
    <servlet-name>Eatery</servlet-name>
    <servlet-class>maeji_eats.Eatery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Eatery</servlet-name>
    <url-pattern>/Eatery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EateryDAO</display-name>
    <servlet-name>EateryDAO</servlet-name>
    <servlet-class>maeji_eats.EateryDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EateryDAO</servlet-name>
    <url-pattern>/EateryDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEateryServlet</display-name>
    <servlet-name>AddEateryServlet</servlet-name>
    <servlet-class>maeji_eats.AddEateryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEateryServlet</servlet-name>
    <url-pattern>/AddEateryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EateryDeleteServlet</display-name>
    <servlet-name>EateryDeleteServlet</servlet-name>
    <servlet-class>maeji_eats.EateryDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EateryDeleteServlet</servlet-name>
    <url-pattern>/EateryDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EateryAddServlet</display-name>
    <servlet-name>EateryAddServlet</servlet-name>
    <servlet-class>maeji_eats.EateryAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EateryAddServlet</servlet-name>
    <url-pattern>/EateryAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAddServlet</display-name>
    <servlet-name>UserAddServlet</servlet-name>
    <servlet-class>maeji_eats.UserAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAddServlet</servlet-name>
    <url-pattern>/UserAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EateryEditServlet</display-name>
    <servlet-name>EateryEditServlet</servlet-name>
    <servlet-class>maeji_eats.EateryEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EateryEditServlet</servlet-name>
    <url-pattern>/EateryEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenuItemAddServlet</display-name>
    <servlet-name>MenuItemAddServlet</servlet-name>
    <servlet-class>maeji_eats.MenuItemAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuItemAddServlet</servlet-name>
    <url-pattern>/MenuItemAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitReviewServlet</display-name>
    <servlet-name>SubmitReviewServlet</servlet-name>
    <servlet-class>maeji_eats.SubmitReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitReviewServlet</servlet-name>
    <url-pattern>/SubmitReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateLikeServlet</display-name>
    <servlet-name>UpdateLikeServlet</servlet-name>
    <servlet-class>maeji_eats.UpdateLikeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateLikeServlet</servlet-name>
    <url-pattern>/UpdateLikeServlet</url-pattern>
  </servlet-mapping>
</web-app>